 section#tweets-section {
 /* esto me mata mi parte */
    @include flex(column, true);
}
 
#join-us-form {
    max-width: 48rem;
    padding: 1.5rem;
    margin: 3rem;
    border-radius: 1rem;
    overflow: hidden;

    background-color: $theme-color-primary;
    color: $theme-background-color;

    .join-us-input-container {
        @include flex(row, true);
        flex-wrap: wrap;

        input {
            flex-grow: 1;
            flex-basis: 15rem;
            padding: 0.5rem;
        }

        button {
            flex-grow: 0;
        }
    }

    p {
        margin: 1rem 0;
    }
}