.card-controls {
    background-color: $theme-primary-color-alt;
    color: $theme-light-color;

    @include flex(column, center,flex-start);
    gap: 1rem;

    width: 100%;
    max-width: 26rem;
    padding: 2rem;

    border-radius: 1rem;

    &__buttons {
        width: 100%;
        @include flex(column);
    
        gap: 1rem;

        > .btn {
            width: 100%;
        }

        @include media-breakpoint-up(600px) {
            flex-direction: row;
        }
    }

    @include media-breakpoint-up(1000px) {
        min-width: 27rem;
        flex-basis: 27rem;

        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 1rem;
    }
}